.navbar-brand {
    font-size: 1.8em;
}

#topContainer {
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
}

#topRow {
    margin-top: 100px;
    text-align: center;
}

#topRow h1 {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.marginTop {
    margin-top: 30px;
}

.center {
    text-align: center;
}

.title {
    margin-top: 70px;
    font-size: 300%;
}

#footer {
    margin-bottom: 0;
    padding: 10px;
}
