{% extends "base2.html" %}
{% block navigationbar %}
    <li><a href="home">Home</a></li>
    <li class="active"><a href="about">About</a></li>
{% endblock %}
{% block title %}
About
{% endblock %}
{% block content %}
    <div class="container contentContainer" id="topContainer">
        <div class="row center">
            <h1 class="title">Why This Website Is Awesome</h1>
            <p class="lead">Developers of This Website </p>
        </div>
        <div class="row center">
            <div class="col-md-4 marginTop">
                <h2><span class="glyphicon glyphicon-education"></span>Emre Özdil</h2>
                <p>
                    ITU-Computer Engineering Student #3
                    <br> Afyonkarahisar - Konya
                </p>
            </div>
            <div class="col-md-4 marginTop">
                <h2><span class="glyphicon glyphicon-education"></span>Merve Ecevit</h2>
                <p>
                    ITU-Computer Engineering Student #3
                    <br> Samsun - Aşkabat
                </p>
            </div>
            <div class="col-md-4 marginTop">
                <h2><span class="glyphicon glyphicon-education"></span>Kaan Atukalp</h2>
                <p>
                    ITU-Computer Engineering Student
                    <br> Gümüşhane - Stuttgart
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2 marginTop">
                <h2><span class="glyphicon glyphicon-education"></span>Güneş Yurdakul</h2>
                <p>
                    ITU-Computer Engineering Student
                    <br> Middle Earth
                </p>
            </div>
            <div class="col-md-4 marginTop">
                <h2><span class="glyphicon glyphicon-education"></span>Goksel Coban</h2>
                <p>
                    ITU-Computer Engineering Student #3
                    <br> Çivril
                </p>
            </div>
        </div>
    </div>
{% endblock %}