{% extends "base.html" %}
{% block navigationbar %}
    <li><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li class="active"><a href="connections">Connections</a></li>
    <li><a href="messages">Messages</a></li>
    <li><a href="jobs">Jobs</a></li>
{% endblock %}
{% block title %}
    Connections
{% endblock %}
{% block content %}
    <body>
    <div class="container contentContainer" id="topContainer">
        <div class="rowCon">
            <div class="col-sm-4">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="search-query form-control" placeholder="Search Connections" />
                        <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                    </div>
                </div>

                <br>
                <div class="list-group">
                    <a href="/connections" class="list-group-item" style="background-color: #be809b"><b>Back to Recommended Connections</b></a>
                   <a href="1" class="list-group-item">People</a>
                    <a href="2" class="list-group-item">Companies</a>
                    <a href="3" class="list-group-item">Universities</a>
                </div>
            </div>
            <div class="col-sm-8">
                <br><br>
                <div style="color: floralwhite"><h><b>Connections</b></h></div>
                {% for key, connection in connections %}
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ connection.following }}">{{ connection.get_name() }}</a>
                                </h4>
                            </div>
                            <div id="{{ connection.following }}" class="panel-collapse collapse in">
                                  <form role="form" action="" method="post" >
                                <div class="panel-body">

                                    <div class="media" style="font-size: 12px">

                                        <br>
                                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                                         <p>Part-Time Software Developer</p>
                                        <p>Student at Istanbul Technical University</p>
                                        <p>{{ connection.get_email() }}</p>
                                        <br>
                                        <div class="media-body">
                                            <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#list" style="background-color: #9ba5cd; color: #0f0f0f"><span>{{ connection.get_num_of_connections() }} connections</span></a>
                                            &nbsp;<div class="modal fade" id="list" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Connections List</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Connections of a profile will be listed here.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <a href="profile" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                                            <br><br>
                                            <p>
                                                <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                                                <input type="hidden" name="following_id" value="{{ connection.following }}"/>
                                                <input type="hidden" name="user_id" value="{{ connection.user }}"/>
                                                <input type="hidden" name="key" value="{{ key }}"/>
                                                <input type="submit" name="remove_Connection" value="Unfollow" class="btn btn-xs btn-default"/>
                                                {% if connection.added_to_favorites == 1 %}
                                                    <input type="submit" name="remove_from_favorites" value="Remove from your favorites" class="btn btn-xs btn-default"/>
                                                {% else %}
                                                    <input type="submit" name="add_to_favorites" value="Add to your your favorites" class="btn btn-xs btn-default"/>
                                                {% endif%}
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
