<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HumanNet</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


</head>

<body data-spy="scroll" data-target=".navbar-collapse">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="home">HumanNet</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="home">Home</a></li>
                    <li><a href="timeline">Timeline</a></li>
                    <li class="active"><a href="profile">Profile</a></li>
                    <li><a href="connections">Connections</a></li>
                    <li><a href="messages">Messages</a></li>
                    <li><a href="jobs">Jobs</a></li>
                    <li><a href="about">About</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#signin">Sign In</button>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#signup">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <!--  Sign In Modal -->
    <div class="modal fade" id="signin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter password" type="password">
                    </div>
                    <p class="text-right"><a href="#">Forgot password?</a></p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <!--  Sign Up Modal -->
    <div class="modal fade" id="signup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input class="form-control" id="name" placeholder="Enter name" type="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Surname</label>
                        <input class="form-control" id="surname" placeholder="Enter surname" type="surname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="email" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="password" placeholder="Enter password" type="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container contentContainer" id="topContainer">
        <div class="row">
        </div>
    </div>

        <!-- CONTENT block -->
    {% block content %}{% endblock %}


    <footer class="navbar navbar-default" id="footer">
        <p class="text-center" id="footer">
            Copyrigt Reserved By HumanNet
        </p>
    </footer>


    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        $(".contentContainer").css("min-height", $(window).height());
    </script>
</body>

</html>