{% extends "base.html" %}
{% block navigationbar %}
    <li><a href="home">Home</a></li>
    <li><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li class="active"><a href="connections">Connections</a></li>
    <li><a href="messages">Messages</a></li>
    <li><a href="jobs">Jobs</a></li>
    <li><a href="about">About</a></li>
{% endblock %}
{% block title %}
Connections
{% endblock %}
{% block content %}
<body>
    <div class="container contentContainer" id="topContainer">
    <div class="rowCon">
    <div class="col-sm-4">
            <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" class="search-query form-control" placeholder="Search Connections" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
        <br>
                 <div class="list-group">
                <a href="#" class="list-group-item" style="background-color: #be809b"><b>All Connections</b></a>
                <a href="#" class="list-group-item">People</a>
                <a href="#" class="list-group-item">Companies</a>
                <a href="#" class="list-group-item">Locations</a>
                <a href="#" class="list-group-item">Industries</a>
             </div>
    </div>
    <div class="col-sm-8">
<br><br><br>
        <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Artemis Crock</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
                <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>Student-Istanbul Technical University</p>
                    <p>Part-Time Software Developer</p>
                    <p>email:artemiscrock@gmail.com</p>
                    <br>
                    <div class="media-body">

                            <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal" style="background-color: #9ba5cd; color: #0f0f0f"><span>150 connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Bruce Wayne</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
           <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>CEO of Wayne  Enterprises</p>
                    <p>Crime Fighter</p>
                    <p>email:brucewayne@wayne.com</p>
                    <br>
                    <div class="media-body">
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal1" style="background-color: #9ba5cd; color: #0f0f0f"><span>40k connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal1" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Lois Lane</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
               <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>Reporter at the Daily Planet</p>
                    <p>Metropolis University</p>
                    <p>email:loislane@dailyplanet.com</p>
                    <br>
                    <div class="media-body">
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal2" style="background-color: #9ba5cd; color: #0f0f0f"><span>150 connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal2" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Güneş Yurdakul</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
                <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>Student-Istanbul Technical University</p>
                    <p>Part-Time Software Developer</p>
                    <p>email:artemiscrock@gmail.com</p>
                    <br>
                    <div class="media-body">
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal3" style="background-color: #9ba5cd; color: #0f0f0f"><span>200 connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal3" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Henry Jackson</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
           <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>CEO of Wayne  Enterprises</p>
                    <p>Crime Fighter</p>
                    <p>email:brucewayne@wayne.com</p>
                    <br>
                    <div class="media-body">
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal4" style="background-color: #9ba5cd; color: #0f0f0f"><span>400 connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal4" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Rory Gilmore</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
               <div class="media" style="font-size: 12px">
                        <img class="media-object" src="http://web.itu.edu.tr/yurdakulgu/profile-42914_960_720.png" width="84" height="84" style="float: left;margin-right:12px">
                    <p>Reporter at the Daily Planet</p>
                    <p>Metropolis University</p>
                    <p>email:loislane@dailyplanet.com</p>
                    <br>
                    <div class="media-body">
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#myModal5" style="background-color: #9ba5cd; color: #0f0f0f"><span>150 connections</span></a>
                                &nbsp;<div class="modal fade" id="myModal5" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Connections List</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Connections of a profile will be listed here.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <a href="#" class="btn btn-xs" style="background-color: #b8e2d9; color: #0f0f0f"><span>Go to profile</span></a>
                        <br><br>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Remove from your connections</a>
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
    </div>
</body>
{% endblock %}
