{% extends "base.html" %}
{% block navigationbar %}
    <li><a href="home">Home</a></li>
    <li><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="connections">Connections</a></li>
    <li><a href="messages">Messages</a></li>
    <li class="active"><a href="jobs">Jobs</a></li>
    <li><a href="about">About</a></li>
{% endblock %}
{% block title %}
Jobs
{% endblock %}
{% block content %}
    <div class="container contentContainer" id="topContainer">
    <br> <br> <br>
<div class="center-block"><h1>Featured Jobs</h1></div>
		<div class="row">

				<!-- first feature job -->
				<div class="col-sm-6 col-md-4">

						<div class="thumbnail">
								<img src="http://i.imgur.com/lSqm2Um.jpg" width="100" height="70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>

				</div>

				<!-- second feature job -->
				<div class="col-sm-6 col-md-4">

							<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>

				</div>

				<!-- third feature job -->
				<div class="col-sm-6 col-md-4">

							<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>

				</div>

			</div>

    </div>
{% endblock %}
