{% extends "base.html" %}
{% block navigationbar %}
    <li><a href="home">Home</a></li>
    <li><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="connections">Connections</a></li>
    <li><a href="messages">Messages</a></li>
    <li class="active"><a href="jobs">Jobs</a></li>
    <li><a href="about">About</a></li>
{% endblock %}
{% block title %}
Jobs
{% endblock %}
{% block content %}
    <div id="topContainer">
        <div class="container contentContainer">
            <div class="row center">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><i class="fa fa-tripadvisor fa-fw"></i> Trip Advisor - Frontend Developer</h4></div>
                        <div class="panel-body"><p>

                        A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                        A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                    </p></div>
                        <div class="panel-footer"><button type="button" class="btn btn-success ">Apply</button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><i class="fa fa-briefcase fa-fw"></i> HumanNet - Backend Developer</h4></div>
                        <div class="panel-body"><p>
                        A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                                            A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                    </p></div>
                        <div class="panel-footer"><button type="button" class="btn btn-success ">Apply</button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><i class="fa fa-amazon fa-fw"></i> Amazon - Java Developer</h4></div>
                        <div class="panel-body"><p>
                        A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                                            A brief description of one of the best features of your app. Maybe a little more text. A brief description of one of the best features of your app. Maybe a little more text.
                    </p></div>
                        <div class="panel-footer"><button type="button" class="btn btn-success ">Apply</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
