{% extends "base.html" %}
{% block navigationbar %}
    <li><a href="home">Home</a></li>
    <li><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="connections">Connections</a></li>
    <li class="active"><a href="messages">Messages</a></li>
    <li><a href="jobs">Jobs</a></li>
    <li><a href="about">About</a></li>
{% endblock %}
{% block title %}
Messages
{% endblock %}
{% block content %}

    <div class="container contentContainer" id="topContainer">
        <br/><br/><br/><br/>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                    <strong>This is a testing phase.</strong>
                </div>

                <div class="panel-group">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="badge">1</span>&nbsp;<a href="#">James Smith</a>
                            <span style="float: right">TIMESTAMP</span>
                        </div>
                        <a href="#">
                            <div class="panel-body">
                                <img class="img-circle" src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-13-128.png" width="50" height="50" style="float: left">
                                The last message of this user.
                            </div>
                        </a>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="badge">5</span>&nbsp;<a href="#">University of Earth</a>
                            <span style="float: right">TIMESTAMP</span>
                        </div>
                        <a href="#">
                            <div class="panel-body">
                                <img class="img-circle" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" width="50" height="50" style="float: left">
                                The last message of this user.
                            </div>
                        </a>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="badge">3</span>&nbsp;<a href="#">Samuel Parker</a>
                            <span style="float: right">TIMESTAMP</span>
                        </div>
                        <a href="#">
                            <div class="panel-body">
                                <img class="img-circle" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" width="50" height="50" style="float: left">
                                The last message of this user.
                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

{% endblock %}
