<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="timeline-centered">

                <article class="timeline-entry begin">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i> +
                        </div>

                        <div class="timeline-label">

                            <h2><a href="#">My Name</a> <span>posted a status update</span></h2>

                            <p>The form below contains a textarea for comments:</p>
                            <form>
                                <div class="form-group">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>

                </article>

                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-success">
                            <span class="glyphicon glyphicon-user">
                      <i class="entypo-feather"></i>
                  </div>

                  <div class="timeline-label">

                      <h2><a href="#">Art Ramadani</a> <span>posted a status update</span>
                            <div class="btn-group btn-group-xs pull-right">
                                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-option-vertical"></span><span class="caret"></span>
                              </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            </h2>
                            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>

                            <hr>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span>&nbsp; <span class="badge">7</span></button>
                                <button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span>&nbsp;<span class="badge">7</span></button>
                                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>&nbsp;<span class="badge">7</span></button>


                            </div>
                        </div>
                    </div>
                </article>


                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon">
                            <img src="https://pixabay.com/static/uploads/photo/2013/10/24/17/05/woman-200311_1280.jpg" class="img-circle" alt="Cinque Terre" width="40" height="40">
                      <i class="entypo-feather"></i>
                  </div>

                  <div class="timeline-label">

                      <h2><a href="#">Art Ramadani</a> <span>posted a status update</span>
                            <div class="btn-group btn-group-xs pull-right">
                                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-option-vertical"></span><span class="caret"></span>
                              </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            </h2>
                            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>

                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span>&nbsp; <span class="badge">7</span></button>
                                <button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span>&nbsp;<span class="badge">7</span></button>
                                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>&nbsp;<span class="badge">7</span></button>

                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-1">
                                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Like's</button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-sm-1">
                                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Dislike's</button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p>Some text in the modal.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                              </div>
                                <div class="col-sm-10">
                                        <div class="panel-group">
                                          <div class="panel panel-default">
                                            <div class="panel-heading">
                                              <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse1">Comments</a>
                                              </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse">
                                              <ul class="list-group">
                                                <li class="list-group-item">One</li>
                                                <li class="list-group-item">Two</li>
                                                <li class="list-group-item">Three</li>
                                              </ul>
                                              <div class="panel-footer">Footer</div>
                                            </div>
                                          </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>

                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-success">
                            <span class="glyphicon glyphicon-user">
                      <i class="entypo-feather"></i>
                  </div>

                  <div class="timeline-label">

                      <h2><a href="#">Art Ramadani</a> <span>posted a status update</span>
                            <div class="btn-group btn-group-xs pull-right">
                                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-option-vertical"></span><span class="caret"></span>
                              </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            </h2>
                            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>

                            <hr>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span>&nbsp; <span class="badge">7</span></button>
                                <button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span>&nbsp;<span class="badge">7</span></button>
                                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>&nbsp;<span class="badge">7</span></button>

                            </div>
                        </div>
                    </div>
                </article>


                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-secondary">
                            <i class="entypo-suitcase"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">Job Meeting</a></h2>
                            <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
                        </div>
                    </div>
                </article>


                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-warning">
                            <i class="entypo-camera"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>

                            <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>

                            <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png" class="img-responsive img-rounded full-width">
                        </div>
                    </div>

                </article>


            </div>
        </div>
    </div>

</body>

</html>
