{% extends "base.html" %}
{% block navigationbar %}
    <li xmlns="http://www.w3.org/1999/html"><a href="home">Home</a></li>
    <li class="active"><a href="timeline">Timeline</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="connections">Connections</a></li>
    <li><a href="messages">Messages</a></li>
    <li><a href="jobs">Jobs</a></li>
    <li><a href="about">About</a></li>
{% endblock %}

{% block title %}
Timeline
{% endblock %}

{% block content %}

<body>
<div id="topContainer">
    <div class="container contentContainer">
        <br><br><br><br>
        <div class="row">
            <div class="timeline-centered">

                <article class="timeline-entry begin">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i> +
                        </div>

                        <div class="timeline-label">

                            <h2><a href="#">My Name</a> <span>DATE</span></h2>

                            <p>You can share some text:</p><br>
                            <form action="" method="post">
                                <div class="row">
                                  <div class="col-sm-1">
                                    <div class="form-group">
                                        <label for="comment">Post:</label><br>
                                        <button type="submit" name="share" value="share" class="btn btn-success">Share</button>
                                    </div>
                                  </div>

                                  <div class="col-sm-10">
                                    <div class="form-group">

                                        <textarea name="post" class="form-control" rows="3"></textarea>
                                    </div>
                                  </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </article>

                {% for key,post in posts %}
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon">
                            <img src="http://i.imgur.com/bfjplrY.jpg" class="img-circle" alt="Cinque Terre" width="40" height="40">
                            <i class="entypo-feather"></i>
                        </div>

                        <div class="timeline-label">

                            <h2><a href="#">{{ post.user }}</a> <span> {{ post.date }}</span>
                            <div class="btn-group btn-group-xs pull-right">
                                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-option-vertical"></span><span class="caret"></span>
                              </button>
                                <ul class="dropdown-menu" role="menu">
                                    <form action="" method="post">
                                        <li><button type="submit" name="delete" method="post" value= {{ post.post_id }}>Delete</button></li>
                                        <li><button type="submit" name="edit" method="post" value= {{ post.post_id }}>Edit</button></li>

                                    </form>
                                </ul>
                            </div>
                            </h2>
                            <p>{{ post.text }}</p>

                            <div class="btn-group btn-group-sm">
                                <form action="" method="post">
                                    <button type="submit" name="like"  class="btn btn-primary btn-sm" value={{ post.post_id }}><span class="glyphicon glyphicon-ok"></button>
                                    <button type="submit" name="dislike" class="btn btn-danger btn-sm" value={{ post.post_id }}><span class="glyphicon glyphicon-remove"></button>
                                </form>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{ key }}">Like </span><span class="badge">{{ post.like_num }}</span></button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="{{ key }}" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Like</h4>
                                                </div>
                                                <div class="modal-body">
                                                <p>The list of those who likes this post.</p>
                                                    {% for key, user in  post.likes %}
                                                        <p>{{ user.user_name }} {{user_surname}}</p>
                                                    {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-8">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse{{ key }}">Comments </span>&nbsp;</a>
                                              </h3>
                                            </div>
                                            <div id="collapse{{ key }}" class="panel-collapse collapse">
                                                <ul class="list-group">
                                                    {% for key, comment in  post.comments %}
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                    <div class="thumbnail">
                                                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                                                    </div>
                                                                    <!-- /thumbnail -->
                                                                </div>
                                                                <!-- /col-sm-1 -->

                                                                <div class="col-sm-5">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-heading">
                                                                            <strong>{{ comment.user_name}} {{comment.user_surname}}</strong> <span class="text-muted">{{ comment.comment_date }}</span>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            {{ comment.comment_text }}
                                                                        </div>
                                                                        <!-- /panel-body -->
                                                                    </div>
                                                                    <!-- /panel panel-default -->
                                                                </div>
                                                                <!-- /col-sm-5 -->
                                                            </div>
                                                            <!-- /container -->
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="panel-footer">
                                                  <div class="row">
                                                    <div class="col-sm-10">
                                                      <form action="" method="post" class="form-inline">
                                                        <div class="form-group">
                                                        <label for="usr">Comment:</label>
                                                        <input type="text" class="form-control" name="comment_text">
                                                        <button type="submit" name="comment" class="btn btn-success pull-right" value={{ post.post_id }}><span class="glyphicon glyphicon-pencil"></span></button>
                                                      </div>

                                                  </form>
                                                  </div>
                                              </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
                {% endfor %}
                </div>
                </div>
        </div>
</div>
</body>

{% endblock %}
